/*
 * what we are section
 *
 */
.identity-wrapper{
  padding: 100px 0;
  border-bottom: 1px solid #dee8ea;
}
.identity-wrapper div{
  float: left;
  width: 50%;
}

.identity-wrapper div+div{
  padding-left: 70px;
}
