/*
 * fonts
 *
 * */

/*font-family: 'Karla', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Karla);

/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,800,700);

/*font-family: 'Open Sans', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*font-family: 'Lora', serif;*/
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);

/*font-family: 'Roboto Slab', serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

/*
 * colors
 *
 * * cyan: #29c2e1
 * * light-cyan: #e5eef0
 * * dark-cyan: #93a1a7
 * * orange: #f69b37
 * * black: #23282f
 * * light-black: #55595f
 * * lighter-black: #93a1a7
 *
 * */

/*
 * typography
 *
 * */
.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #23282f;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.section-subtitle{
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #23282f;
  text-transform: uppercase;
  margin: 0;
}

/*
 * elements
 *
 * */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.container
{
  max-width: 1145px;
  margin: 0 auto;
}

/*grids*/
.grid-3{
  margin: 65px 0;
}

.grid-3 div{
  float: left;
  width: 33.3%;
}

.grid-3-col span.icon{
  margin: 0 40px 90px 0;
}

.grid-3-col{
  padding-right: 40px;
}

.grid-4 {
  margin: 0 auto;
}

.grid-4-col {
  width: 23%;
  float: left;
}

.grid-4-col + .grid-4-col {
  margin-left: 2.333%;
}

/*
 * buttons links
 * */
.btn{
  display: inline-block;
  font-family: 'Karla', sans-serif;
  font-size: 14.5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 0 25px;
  border-radius: 40px;
}

.btn-primary{
  background-color: #29c2e1;
  color: #fff;
}

.btn-secondary{
  background-color: #f69b37;
  color: #fff;
}


/*
 * page-title-section
 *
 * */
.banner{
  width: 100%;
  background:url('../images/fillers/1970-310.png') no-repeat center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 120px 0;
}

.banner h1{
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.banner p{
  font-size: 14px;
  margin:0;
}

/*
 * stats
 *
 * */
.company-stats div{
  padding-left: 80px;
}

.company-stats{
  padding:80px 0;
}

.company-stats-wrapper-cyan{
  padding: 100px 0 80px 0;
  background-color: #e5eef0;
}

.company-stats h1{
  margin: 0;
  width: 24px;
  height: 24px;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
}

.company-stats h2{
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

.company-stats span{
  display: block;
  font-size: 60px;
}

.company-stats div.years-marketing{
  background: url("../images/icons/years-in-marketing-icon.png") no-repeat left;
}
.company-stats div.team-members{
  background: url("../images/icons/team-members-icon.png") no-repeat left;
}
.company-stats div.finished-projects{
  background: url("../images/icons/Finished-Projects-icons.png") no-repeat left;
}
.company-stats div.certifications{
  background: url("../images/icons/certification-icon.png") no-repeat left;
}

/* blog-side
 *
 * */
.blog-sidebar {
  max-width: 292px;
  padding-left: 30px;
  margin-top: 100px;
}
.blog-sidebar-categories-wrapper, .blog-sidebar-popular-posts, .blog-sidebar-tagswrapper {
  margin: 60px 0;
}
.blog-sidebar-search {
  position: relative;
}
.blog-sidebar input{
  width: 260px;
  height: 45px;
  border: 1px solid #e5eef0;
  padding-left: 15px;
  color: #303030;
  font-size: 14px;
}
.blog-sidebar button {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 10px;
  left: 220px;
}
.blog-sidebar-header {
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #23282f;
  margin: 20px 0;
}
.blog-sidebar-categories {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-sidebar-categories li {
  padding: 13px 0;
  display: block;
}
.blog-sidebar-categories a {
  text-decoration: none;
  text-transform: uppercase;
  color: #55595f;
  font-size: 13px;
  font-family: 'Karla', sans-serif;
}
.blog-sidebar-categories a i {
  float: right;
}
.blog-sidebar-categories a:hover {
  color: #f69b37;
}

.blog-sidebar-post {
  margin: 30px 0;
}
.blog-sidebar-post-img {
  display: inline-block;
  float: left;
}
.blog-sidebar-post-details {
  padding: 10px 0 10px 30px;
  float: left;
  font-family: 'Karla', sans-serif;
}
.blog-sidebar-post-details-header {
  margin: 0;
}
.blog-sidebar-post-details a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
  color: #23282f;
}
.blog-sidebar-post-details p:first-letter {
  text-transform: capitalize;
}
.blog-sidebar-post-details p {
  text-transform: capitalize;
  margin: 10px 0 0;
  font-size: 14px;
  color: #55595f;
}
.blog-sidebar-post-details span {
  color: #f69b37;
}
.blog-sidebar-post-details span:after {
  content: ':';
  padding: 0 5px;
}
.blog-sidebar-tags ul {
  padding: 0;
}
.blog-sidebar-tags li {
  display: inline-block;
}
.blog-sidebar-tags a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Karla', sans-serif;
  padding: 15px;
  background-color: #29c2e1;
  color: #e5eef0;
  margin: 0 10px 10px 0;
  display: inline-block;
}


/*
 * icons
 *
 */
span.icon-boost-business{
  background: url(../images/icons/boost-your-business-icon.png) no-repeat center;
}
span.icon-filter-business{
  background: url(../images/icons/filtering-business-data-icon.png) no-repeat center;
}
span.icon-business-solutions{
  background: url(../images/icons/business-solutions-icon.png) no-repeat center;
}
span.icon-data-entry{
  background: url(../images/icons/data-entry-icon.png) no-repeat center;
}
span.icon-client-management{
  background: url(../images/icons/client-management-icon.png) no-repeat center;
}
span.icon-better-communication{
  background: url(../images/icons/better-communication-icon.png) no-repeat center;
}
span.icon-well-analyzing-team{
  background: url(../images/icons/well-analyzing-team-icon.png) no-repeat center;
}
span.icon-24-hour-support{
  background: url(../images/icons/24-hour-support-icon.png) no-repeat center;
}
span.icon-keeping-business-data{
  background: url(../images/icons/keeping-business-data-icon.png) no-repeat center;
}

span.icon{
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 40px 60px 0;
  background-color: #e5eef0;
}

span.icon:hover{
  background-color: #f69b37;
}


/*
 * Features
 *
 */
.features-wrapper{
  padding-bottom: 95px;
}

.features-wrapper.triangle-background {
  background: url(../images/features-bg.png) no-repeat bottom right;
}

.features-wrapper.general {
  border-bottom: solid 1px #e5eef0;
}

/*
 *
 * sign up - offer
 *
 */
section.offer {
  height: 320px;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #e5eef0;
}
.offer .offer-title {
  color: #000;
  font-size: 30px;
  margin: 0;
}
.offer .offer-title .special {
  color: #f69b37;
}
.offer .offer-note {
  color: #59686c;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
.offer .offer-title + .offer-note {
  margin: 0;
}
.offer .description + .actions {
  margin-top: 30px;
}
.offer .actions .btn +.btn {
  margin-left: 20px;
}
.offer .offer-content-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.offer .btn-primary {
  padding: 0 40px;
}
/*
 *
 * team section
 *
 */
.team {
  background-color: #e5eef0;
}
.team-wrapper {
  margin: 65px 0;
}
.team-member-img img{
  vertical-align: top;
}
.team-member-contact {
  height: 125px;
  width: 263px;
  background-color: #fff;
  padding-left: 30px;
}
.team-member-contact p {
  padding-top: 30px;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.team-member-contact ul {
  width: 80px;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.team-member-contact li {
  float: left;
  width: 33.33%;
}
.social-icons {
  background-position: 0 0;
  width: 15px;
  height: 32px;
  display: inline-block;
}
.facebook {
  background: url(../images/icons/facebook.png) no-repeat center left;
}
.twitter {
  background: url(../images/icons/twitter.png) no-repeat center left;
}
.google {
  background: url(../images/icons/google+.png) no-repeat center left;
}

.team-member-contact span {
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  color: #f69b37;
  text-transform: capitalize;
}

/*
 *
 * header section
 *
 */
header {
  text-transform: uppercase;
}
header .intro-wrapper {
  background: #e5eef0;
  color: #93a1a7;
}
/* why? there is a container class */
.content-wrapper {
  max-width: 1145px;
  display: block;
  margin: 0 auto;
  font-size: 13px;
}
.intro .title {
  font-size: 13px;
}
.intro .title,
.intro .contact-info {
  display: inline-block;
  margin: 20px 0;
}
.intro .contact-info {
  float:right;
}
.intro .phone {
  font-size: 14px;
}
.intro .contact-info span + span {
  margin-left: 60px;
}
.navbar-wrapper {
  background-color: #fff;
}
.logo {
  margin:13px 0;
  font-size:0;
}
nav {
  float:right;
}
nav ul {
  list-style: none;
  margin:0;
  padding:0;
}
nav, .logo {
  vertical-align:top;
}

nav ul.navbar li, nav, .logo {
  display: inline-block;
}
ul.navbar li a {
  display: inline-block;
  text-decoration: none;
  color:#93a1a7;
  font-size: 14px;
  padding: 20px 15px;
}
ul.navbar li.active a, ul.navbar li a:hover, ul.navbar li a:active {
  color:black;
}
ul.navbar li a.contact-us {
  color: #fff;
  font-size: 14.5px;
  padding: 0 25px;
  border-radius: 40px;
}
ul.navbar li + li {
  margin-left: 10px;
}


/*
 *
 * Footer
 *
 */
.links-wrapper {
  border-bottom: 1px solid #e5eef0;
  padding: 75px 0;
}

footer .col {
  display: inline-block;
  vertical-align: top;
}
footer .col:nth-child(1) {
  width: 195px;
}

footer .col:nth-child(2) {
  width: 195px;
}

footer .col:nth-child(3) {
  width: 195px;
}
footer .col:nth-child(4) {
  width: 295px;
}
footer .col:nth-child(5) {
  width: 250px;
}
footer ul {
  list-style: none;
  margin:0;
  padding:0;
}
footer ul .title, form.inline legend {
  color: #23282f;
  font-size: 18px;
}
footer ul li + li {
  margin-top: 30px;
}
footer ul li a, footer ul li, form label, .coprights {
  text-decoration: none;
  color: #93a1a7;
  font-size: 14px;
}

footer .label {
  color: #23282f;
}

form.inline fieldset {
  border: none;
  padding: 0;
}

form.inline .controls-group {
  /*width: 50%;*/
  margin: 30px 0 0;
}
form.inline input, form.inline button {
  line-height: 2;
  font-size: 16px;
  margin: 13px 0 0;
  float: left;
  border: solid 1px #e5e5e5;
}
form.inline input[type="email"] {
  width: 75%;
  padding-left: 10px;
  color: #303030;
  font-size: 17px;
}
form.inline button[type="submit"], form.inline button {
  width : 25%;
  background: #29c2e1;
  color: #fff;
  font-weight: 300;
  border-left: none;
}
footer .coprights {
  text-align: center;
}

.inline-title {
  color:#f69b37;
}

.left-title {
  margin: 80px 0 0;
  font-style: bold;
  font-size: 30px;
}

.left-subtitle {
  font-size: 18px;
  color: #6c7275;
  margin: 0;
}

.left-title, .left-subtitle {
  text-transform: uppercase;
}
