.circular-img {
  border-radius: 50%;
}
.blog-post-content {
  border-bottom: 1px solid #e5eef0;
  padding-bottom: 75px;
}
.blog-post-comment {
  padding: 15px 0;
  border-bottom: 1px solid #e5eef0;
  margin: 10px 0; 
}
.blog-post-comments-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 80px 0 15px;
}
.blog-post-comment-img {
  display: inline-block;
  width: 8%;
  vertical-align: top;
  margin: 50px 0;
}
.blog-post-comment-img img {
  max-width: 68px;
  height: 68px;
}
.blog-post-comment-content {
  max-width: 91%;
  display: inline-block;
  padding-left: 30px;
  margin: 50px 0;
}
.comment-meta-info {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
}
.comment-author, .comment-date {
  color: #23282f;
}
.meta-info-button {
  float: right;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #f69b37;
}
.blog-post-comment-reply, .blog-author-info-desc {
  font-size: 14px;
  color: #55595f;
}
.blog-post-comment .blog-post-comment {
  padding: 15px 0 0 95px;
  border-top: 1px solid #e5eef0;
  border-bottom: none;
  margin: 0;
}
.blog-content ul {
  list-style: none;
  padding: 60px 0 60px 100px; 
}
.blog-content ul i {
  color: #f69b37;
  padding-right: 10px;
}
.blog-content li {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  line-height: 40px;
}
.blog-author-img {
  max-width: 20%;
  display: inline-block;
  margin: 50px 0;
  height: 122px;
  vertical-align: top;
  padding-left: 40px;
  
}

.blog-author-info {
  max-width: 70%;
  display: inline-block;
  margin: 50px 0;
  padding: 35px 0 0 30px;
}
.blog-author {
  background-color: #e5eef0;
}

.blog-author-name {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
}
.blog-author-name span {
  color: #f69b37;
}
.blog-author-name span:after {
  content: ' : '
}
.blogpost-comment-form {
  margin-top: 100px;
}