.blog, .blog-sidebar {
  display: inline-block;
}
.blog {
  vertical-align: top;
  max-width:848px;
}
.img-wrapper img {
  vertical-align: top;
}
.blog-post:first-child {
  padding-top: 0;
}
.blog-post {
  text-transform: uppercase;
  padding: 75px 0;
}
.blog-post + .blog-post {
  border-top: 1px solid;
}
.blog-title {
  margin:40px 0 10px;
}
.meta-info-item {
  display: inline-block;
  margin:0;
}
.meta-info-item::after {
  content: " | ";
  padding: 0 10px;
}

.meta-info-item:last-child::after {
  content:"";
  padding:0;
}
.inline-title {
  margin-right:5px;
}
.inline-title::after {
content: " :";
}

.blog-content {
  text-transform: none;
}
