.map-section {
  padding-bottom: 100px;
  border-bottom: solid 1px #e5eef0;
}

.map-section #map {
  width: 100%;
  height: 417px;
  margin-top: 30px;
}

.map {
  margin-top: 70px;
  text-align: center;
}

.map p {
  text-transform: uppercase;
  line-height: 25px;
}

.icon-wrapper {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid #2ec3e2;
  margin-bottom: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-wrapper.tel-icon {
  background-image: url(../images/icons/tel-icon.png);
}

.icon-wrapper.location-icon {
  background-image: url(../images/icons/location-icon.png);
}

.icon-wrapper.mail-icon {
  background-image: url(../images/icons/mail-icon.png);
}

.title-wrapper {
  text-align: center;
  margin-top: 70px;
}

.contact-form-title {
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.contact-form {
  margin: 30px 0;
  padding-bottom: 100px;
  border-bottom: solid 1px #e5eef0;
}

.contact-form input.normal-field, textarea {
  margin-bottom: 16px;
  padding-left: 22px;
  background-color: #e5eef0;
  border-style: none;
  font-size: 13px;
  color: #000;
}

.contact-form input.normal-field {
  width: 49.5%;
  line-height: 40px;
}

.contact-form textarea.comment-field {
  padding-top: 16px;
  margin-bottom: 30px;
  width: 100%;
  height: 160px;
}

.contact-section .submit-wrapper {
  text-align: center;
}

.contact-form input[type="submit"] {
  border-style: none;
  padding: 0 42px;
}