/*
 * Make Your Startup Section
 * */
.make-startup-warpper{
  margin-top: 100px;
}

.make-startup{
  width: 684px;
  float: left;
  padding-right: 50px;
}
.make-startup img{
  margin-top: 60px;
}

.services{
  width: 456px;
  float: left;
}

.services span{
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 40px 60px 0;
}

.services span.icon-boost-business{
  background: url(../images/icons/boost-your-business-icon.png) no-repeat center #f7941d;
}
.services span.icon-filter-business{
  background: url(../images/icons/filtering-business-data-icon.png) no-repeat center #e5eef0;
}
.services span.icon-business-solutions{
  background: url(../images/icons/filtering-business-data-icon.png) no-repeat center #e5eef0;
}

.services h3{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.services a{
  display:block;
  width: 170px;
  margin: 50px auto;
}
