.news-section {
  padding: 80px 0 100px;
  border-bottom: solid 1px #e5eef0;
}

.news-section h2, h3, p {
  margin: 0;
}

.news-grid {
  margin-top: 35px;
}

.news-grid .row, .column {
  box-sizing: border-box;
}

.news-grid .column {
  position: relative;
  float: left;
  min-height: 756px;
}

.news-grid .column + .column {
  margin-left: 1.6%;
}

.news-section .column-4 {
  width: 32.2666666667%;
}

.news-grid-cell, .news-details-wrapper {
  position: relative;
}

.news-content {
  text-align: center;
  background-color: #e5eef0;
}

.news-grid-cell .news-content {
  min-height: 378px;
}

.news-details-wrapper .news-content {
  min-height: 478px;
}

.news-day {
  font-size: 48px;
  margin: 0;
  padding-top: 15px;
}

.news-month-year {
  font-size: 16px;
  text-transform: uppercase;
  color: #5d6267;
}

.news-content h3 {
  margin: 32px 0 20px;
  color: #23282f;
  font-size: 20px;
  font-weight: normal;
}

.news-text {
  font-size: 14px;
  color: #5d6267;
  line-height: 22px;
  padding: 0 10%;
}

.news-grid-cell .news-text {
  padding-bottom: 30px;
}

.news-details-wrapper .news-text {
  padding-bottom: 50px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-bottom: 25px solid #e5eef0;
  position: absolute;

}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-top: 25px solid #e5eef0;
  position: absolute;
}

.news-grid-cell .arrow-up {
  top: 47%;
  left: 44%;
}

.news-grid-cell .arrow-down {
  top: 50%;
  left: 45%;
}

.news-details-wrapper .arrow-up {
  top: 46.5%;
  left: 48%;
}

.news-details-wrapper .news-content{
  padding-top: 30px;
}

.news-grid-cell img, .news-details-wrapper img {
  width: 100%;
  vertical-align: top;
}

.news-grid-cell img {
  height: 378px;
}

.news-details-wrapper img {
  height: 428px;
  margin-top: 35px;
}

.news-details-actions .btn-primary:nth-child(1) {
  padding: 0 42px;
}

.news-details-actions .btn +.btn {
  margin-left: 20px;
}
