.portfolio-wrapper{
  padding: 100px 0;
}

ul.projects-list{
  padding: 40px 0 0 0;
  list-style: 0;
  margin: 0;
}

.projects-list li{
  display: block;
  width:50%;
  float:left;
  margin-bottom: 40px;
  position: relative;
}

ul.projects-list:nth-child(2n){
  margin-left: 30px;
}


li.project-item h2{
  text-align: center;
  width: 100%;
  height: 100px;
  background: url('../images/icons/search-iocn.png') no-repeat center;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 215px;
  margin: 0;
}

li.project-item a{
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

/* Hover effect */
li.project-item h2{
  display: none;
}

li.project-item img:hover + h2{
  display: block;
}


