<aside class="blog-sidebar">
  <form action="#" >
    <div class="blog-sidebar-search">
      <input type="text" id="search" name="search" placeholder="Search now...">
      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </form>
  <div class="blog-sidebar-categories-wrapper">
    <h1>categories</h1>
    <ul class="blog-sidebar-categories">
      <li><a href="#">Lipsum Category<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
      <li><a href="#">Ipsum generators.<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
      <li><a href="#">embarrassing hidden<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
      <li><a href="#">randomised words<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
      <li><a href="#">slightly believable<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
      <li><a href="#">variations of passages<i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></a></li>
    </ul>
  </div>
  <div class="blog-sidebar-popular-posts">
    <h1>popular posts</h1>
    <div class="blog-sidebar-post clearfix">
      <div class="blog-sidebar-post-img">
        <img src="../images/fillers/67-67.png">
      </div>
      <div class="blog-sidebar-post-details">
        <h2><a href="#">post heading here</a></h2>
        <p><span>10</span>comments</p>
      </div>
    </div>
    <div class="blog-sidebar-post clearfix">
      <div class="blog-sidebar-post-img">
        <img src="../images/fillers/67-67.png">
      </div>
      <div class="blog-sidebar-post-details">
        <h2><a href="#">post heading here</a></h2>
        <p><span>20</span>comments</p>
      </div>
    </div>
    <div class="blog-sidebar-post clearfix">
      <div class="blog-sidebar-post-img">
        <img src="../images/fillers/67-67.png">
      </div>
      <div class="blog-sidebar-post-details">
        <h2><a href="#">post heading here</a></h2>
        <p><span>30</span>comments</p>
      </div>
    </div>
  </div>
  <div class="blog-sidebar-tagswrapper">
    <h1>tags</h1>
    <div class="blog-sidebar-tags">
      <a href="#">business</a>
      <a href="#">idea</a>
      <a href="#">lipsum</a>
      <a href="#">featured posts</a>
      <a href="#">blog post</a>
    </div>
  </div>
</aside>