<div class="container features-wrapper">
  <h2 class="section-title">features</h2>
  <p class="section-subtitle">some of our features</p>

  <div class="grid-3 clearfix">
    <div class="grid-3-col">
      <span class="icon icon-data-entry"></span>
      <h3>Data Entry</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>

    <div class="grid-3-col">
      <span class="icon icon-client-management"></span>
      <h3>Client Management</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>

    <div class="grid-3-col">
      <span class="icon icon-better-communication"></span>
      <h3>Better Communication</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>

    <div class="grid-3-col">
      <span class="icon icon-well-analyzing-team"></span>
      <h3>Well Analyzing Team</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>

    <div class="grid-3-col">
      <span class="icon icon-24-hour-support"></span>
      <h3>24 Hour Support</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>

    <div class="grid-3-col">
      <span class="icon icon-keeping-business-data"></span>
      <h3>Keep Bussiness Data</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
  </div>

  <a href="#" class="btn btn-primary">more features</a>

</div>
