<form class="contact-form">
  <div class="form-group">
    <input class="normal-field" required="true" placeholder="NAME"></input>
    <input class="normal-field pull-right" type="email" required="true" placeholder="EMAIL"></input>
  </div>
  <div class="form-group">
    <input class="normal-field" type="tel" placeholder="PHONE"></input>
    <input class="normal-field pull-right" type="url" placeholder="WEBSITE"></input>
  </div>
  <div class="form-group">
    <textarea class="comment-field" placeholder="COMMENT"></textarea>
  </div>
  <div class="submit-wrapper">
    <input type="submit" class="btn btn-primary"></input>
  </div>
</form>]