<header>
  <div class="intro-wrapper">
    <div class="intro content-wrapper clearfix">
      <h1 class="title">Premium Business Template</h1>
      <div class="contact-info">
        <span class="phone">8877-8564-222</span>
        <span class="email">info@business.com</span>
      </div>
    </div>

    <div class="navbar-wrapper">
      <div class="content-wrapper clearfix">
        <h1 class="logo"><a href="#!"><img src="images/logo.png" alt="Company Logo"></a></h1>
        <nav>
          <ul class="navbar">
            <li><a href="#!">Home</a></li>
            <li><a href="#!">About Us</a></li>
            <li><a href="#!">News</a></li>
            <li><a href="#!">Portfolio</a></li>
            <li><a href="#!">Service</a></li>
            <li><a href="#!">Blog</a></li>
            <li><a href="#!">Pages</a></li>
            <li><a href="#!" class="contact-us btn btn-primary">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
