<div class="company-stats-wrapper-cyan">
   <div class="company-stats container grid-4 clearfix">
     <h1>Fun Facts</h1>

     <div class="grid-4-col years-marketing">
       <h2>
         <span>10</span> years in marketing
       </h2>
     </div>

     <div class="grid-4-col team-members">
       <h2>
         <span>18</span> team members
       </h2>
     </div>

       <div class="grid-4-col finished-projects">
         <h2>
           <span>900+</span> finished projects
         </h2>
       </div>

       <div class="grid-4-col certifications">
         <h2>
           <span>22</span> certifications
         </h2>
       </div>
   </div>

</div>
