<!-- Team section -->
<section class="team clearfix">
  <div class="container">
    <h2 class="section-title">team</h2>
    <p class="section-subtitle">meet our team</p>
    <div class="grid-4 team-wrapper clearfix">
      <div class="grid-4-col">
        <div class="team-member-img">
          <img src="images/fillers/263-276.png">
        </div>
        <div class="team-member-contact">
          <p>Mr. Ramgopalavarma</p>
          <span>Data Specialist</span>
          <ul class="clearfix">
            <li><a href="#"><i class="facebook social-icons"></i></a></li>
            <li><a href="#"><i class="twitter social-icons"></i></a></li>
            <li><a href="#"><i class="google social-icons"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="grid-4-col">
        <div class="team-member-img">
          <img src="images/fillers/263-276.png">
        </div>
        <div class="team-member-contact">
          <p>Madhavikutti Menon</p>
          <span>client support</span>
          <ul class="clearfix">
            <li><a href="#"><i class="facebook social-icons"></i></a></li>
            <li><a href="#"><i class="twitter social-icons"></i></a></li>
            <li><a href="#"><i class="google social-icons"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="grid-4-col">
        <div class="team-member-img">
          <img src="images/fillers/263-276.png">
        </div>
        <div class="team-member-contact">
          <p>Dr.Venkittaraman</p>
          <span>client management</span>
          <ul class="clearfix">
            <li><a href="#"><i class="facebook social-icons"></i></a></li>
            <li><a href="#"><i class="twitter social-icons"></i></a></li>
            <li><a href="#"><i class="google social-icons"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="grid-4-col">
        <div class="team-member-img">
          <img src="images/fillers/263-276.png">
        </div>
        <div class="team-member-contact">
          <p>george danial</p>
          <span>communication</span>
          <ul class="clearfix">
            <li><a href="#"><i class="facebook social-icons"></i></a></li>
            <li><a href="#"><i class="twitter social-icons"></i></a></li>
            <li><a href="#"><i class="google social-icons"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
